#search_form {
  position:fixed;
  font-family: sans-serif;
  background-color: blue;
  left: 0px;
  right: 0px;
  height: 50px;
  top: 0px;
  }

#search_form input[type="text"] {
  vertical-align:middle ;
  width: 400px;
  border: medium;
  margin-left: 30px;
}
#search_form input{
  vertical-align: middle;
  margin: 10px;
}
.home {
  position: absolute;
  top: 45%;
}

.searched {
  position: absolute;
  top: 0px;
}

#searched_results {
    position: absolute;
    top: 70px;
    left: 50px;
    width:auto;
}

.each_result {
    height: 50px;
    
    width: 700px;
    border: gray solid 1px;
}

#heading {
    float:left;
    vertical-align: middle;
    font-size: 32px;
    color: gray;
}

.page_contents {
    font-size: 12px;
 }