<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
    </script>
    <title>WebHunter</title>
{%block head %}
    <link rel="shortcut icon" href="static/favicon.ico" type="image/png" />
    <link rel="stylesheet" href="static/style.css" type="text/css" />
    <title>Web-Hunter</title>
{%endblock %}
  </head>
  <body>
{%block body %}
    <form class="home" id="search_form" action="web" method="GET">
      <b><div id="heading">Web Hunter</div></b>
      <input type="TEXT" name="q" />
      <input type="SUBMIT" value="Search"/>
    </form>
{%endblock %}
  </body>
</html>
