{%extends "base.html"%}
{%block head %}
    <link rel="shortcut icon" href="../static/favicon.ico" type="image/png" />
    <link rel="stylesheet" href="../static/style.css" type="text/css" />
    <title>Web-Hunter</title>
{%endblock %}
{%block body %}
    <form class="searched" id="search_form" action="web" method="GET">
            <b><div id="heading">Web Hunter</div></b>
	    <input type="TEXT" name="q" value="{{request.args.get('q')}}"/>
      <input type="SUBMIT" value="Search"/>           
    </form>
    <div id="searched_results">
    {%for each in results %}
    <div><a href="{{each}}">{{each}} </a></div>
    {%endfor%}
    </div>
{%endblock %}
